.divbody{margin-top: 250px;margin-bottom: 5px;}
.divbody2{display: grid;grid-template-columns:auto auto auto;margin-top:px;margin-bottom: 50px;margin-left: 70px;}
.divbody1{display: grid;grid-template-columns:auto auto auto;border: solid lightgrey 2px;border-radius: 10px;}
#area1{height: 200px;}
#area2{height: 200px}
#area3{height: 200px;}
#area4{height: 200px;}
.margintop{margin-top: 200px;}

#img12{width: 100%;height:100px ;}
.imgarea1{width: 100%;height:200px;}
.img{width: 100px;height:100px;}
#imgarea2{width: 350px;height:300px;}
.h1class{margin-left: 300px;color:black ;}
.button{background-color: black;}
.a{text-decoration: none;color: black;}


#form{margin-left: 500px;margin-top: 20px;}
#signup{background-color: black;}
.label1{border:solid black 2px;}



#img2{height:200px;width:200px;margin-left: 500px;}
#key{display: grid;grid-template-columns:40% 60%;margin-left: 200px;}
#item{border: solid lightgrey 2px;border-radius: 10px;}
#h{font-family: sans-serif;font-stretch: ultra-condensed;border-bottom: solid lightgrey 1px;}
#at{text-decoration: none; color:black;}
.divbodylast{margin-left: 400px;}