#container{display:grid;grid-template-columns:25% 55% 20% ;margin-top:2px;}
#img1{border-radius: 50px;height:150px;width:200px;}
#img55{height: 283px;width:750px ;border-radius: 5px;}
#h11{font-family: cursive;}
#b1{background-color: black;margin-left:70px; padding: auto;color: aliceblue;}
#b5{background-color: black; padding: auto;}
#b4{background-color: black;margin-left:10px; padding: auto;}
#b2{background-color: black;margin-left:150px;margin-bottom: 2px;}
#b3{background-color: black;margin-left:70px;}
#divborder{border:solid black 5px ;border-radius: 5px;}
#area1{margin-left: 0px;}
#share{margin-left: 350px;}
#h1share{margin-left: 100px;}
#box{margin-left: 150px;}
#bodyprofile{margin-bottom: 5px;border: solid black 5px;margin-top: 2px;}
.cardprofile{border-top:5px solid black;border-right: solid black 5px;border-radius:2px;display: grid;grid-template-columns: 30% 70%;}
.h22{margin-top: 50px;}
.label{border:solid black 2px;}

#modal{background-color:white;border:solid black 2px; }
.modaltxt{margin-left: 100px;}
.modalform{text-align: center;border:solid black 2px;}


