#container{display:grid;grid-template-columns:25% 55% 20% ;margin-top:2px;}
#img1{border-radius: 50px;height:150px;width:200px;}
#img55{height: 283px;width:740px ;border-radius: 5px;}
#h11{font-family: cursive;}
#b1{background-color: black;margin-left:70px; padding: auto;color: aliceblue;}
#b1:hover{color: goldenrod;}
#b5{background-color: black; padding: auto;}
#b5:hover{color: goldenrod;}
#b4:hover{color: goldenrod;}
#b4{background-color: black;margin-left:10px; padding: auto;}
#b2{background-color: black;margin-left:390px;margin-bottom: 2px;}
#b2:hover{color: goldenrod;}
#b3{background-color: black;margin-left:70px;border-radius: 10px;}
#b3:hover{color: goldenrod;}
#divborder{border:solid black 2px ;border-radius: 1px;}
#area1{margin-left: 0px;}



#share0{background-color:black;}
#share{background-color: white;border: solid black 2px;}
#share2{background-color:black;}
#bodyprofile{margin-bottom: 0px;display: grid; grid-template-columns: 5% 90% 5%;}





#h1share{margin-left: 300px;}
#box{margin-left: 150px;}
.cardprofile{border-top:1px solid black;border-radius:2px;display: grid;grid-template-columns: 30% 70%;}
.h22{margin-top: 50px;}
.label{border:solid black 2px;}

#modal{background-color:white;border:solid black 2px; }
.modaltxt{margin-left: 100px;}
.modalform{text-align: center;border:solid black 2px;}


