#formb1{margin-top: px;background-color: black;margin-left: 150px; ;border-radius: 10px;}
#formb1:hover{color: goldenrod;}
#TableContainer{border: solid black 2px;border-radius: 5px;}
#TableHead{border-bottom: solid black 2px;}
#arow{text-decoration:none;color: black;}
#posterimage{width:200px;height: 100px;}
#poster{margin-left: 60px;}





#pr2continer{display: grid;grid-template-columns: 1% 98% 1%;}
.pr2div{background-color: black;}
#pr2img{width:150px;height: 50px;}
#pr2thead{border: dotted black 1px;border-radius: 5px;}
#pr2tbody{border: dotted black 1px;border-radius: 5px;}

#divpr2add{margin-left: 450px;}

